swagger: '2.0'
info:
  title: '台灣人壽-Teamwalk APP API'
  version: '1.0'
host: teamwalk.mutron.com.tw
basePath: /fe-api
schemes:
  - https
paths:
  /mock/csso:
    post:
      produces:
        - application/x-www-form-urlencoded
      summary: "模擬CSSO"
      tags:
        - APP
      operationId: cssoLogin
      parameters:
        - name: SYS_ID
          type: string
          in: query
          required: true
        - name: appl_id
          type: string
          in: query
          required: true
        - name: appl_pwd
          type: string
          in: query
          required: true
        - name: service
          type: string
          in: query
          required: true

      responses:
        '302':
          description: Success(會帶入ticket參數在網址後)
          schema:
            type: string
            example: 'teamwalk://loginsuccess?ticket=xxxxx'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /login:
    post:
      produces:
        - application/json
      summary: "使用者登入"
      tags:
        - APP
      operationId: login
      parameters:
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/LoginPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LoginPostResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /landing:
    post:
      produces:
        - application/json
      summary: "Landing頁面儲存個人資料"
      tags:
        - APP
      operationId: saveLandingInfo
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/LandingPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  
  /sys-param:
    get:
      produces:
        - application/json
      summary: "取得系統參數"
      tags:
        - Common
      operationId: getSysParam
      
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSysParamResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /user-info:
    get:
      produces:
        - application/json
      summary: "取得使用者資訊"
      tags:
        - Common
      operationId: getUserInfo
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetUserInfoResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /sync-health-info:
    post:
      produces:
        - application/json
      summary: "同步健康數據"
      tags:
        - Common
      operationId: syncHealthInfo
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/SyncHealthInfoPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /district:
    get:
      produces:
        - application/json
      summary: "取得所有縣市別跟行政區"
      tags:
        - Common
      operationId: getDistrict
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDistrictResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred


  /index:
    get:
      produces:
        - application/json
      summary: "取得首頁資料"
      tags:
        - 首頁
      operationId: getMain
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMainResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /index-health:
    get:
      produces:
        - application/json
      summary: "取得首頁健康資料"
      tags:
        - 首頁
      operationId: getMainHealth
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMainHealthResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /personal-pk:
    get:
      produces:
        - application/json
      summary: "取得個人對戰資料"
      tags:
        - 挑戰
      operationId: listPersonalPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPersonalPkResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
    post:
      produces:
        - application/json
      summary: "發起個人PK挑戰"
      tags:
        - 挑戰
      operationId: submitPersonalPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/PersonalPKPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /personal-pk-cancel-invite:

    post:
      produces:
        - application/json
      summary: "取消個人PK挑戰"
      tags:
        - 挑戰
      operationId: cancalInvitePersonalPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/PersonalPKCancelInvitePostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /pk-summary:
    get:
      produces:
        - application/json
      summary: "取得對戰資料-勝率"
      tags:
        - 挑戰
      operationId: getPKSummary
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPkSummaryResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /team-pk:
    get:
      produces:
        - application/json
      summary: "取得團隊對戰資料"
      tags:
        - 挑戰
      operationId: listTeamPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTeamPkResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
    post:
      produces:
        - application/json
      summary: "決定團隊組隊邀請(受邀會員使用)"
      tags:
        - 挑戰
      operationId: submitTeamPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/TeamPKPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /team-pk-cancel-invite:
    
    post:
      produces:
        - application/json
      summary: "取消團隊組隊邀請"
      tags:
        - 挑戰
      operationId: cancelInviteTeamPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelInviteTeamPKPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  
  /team-pk/{team_act_id}:
    get:
      produces:
        - application/json
      summary: "取得團隊對戰資料-明細"
      tags:
        - 挑戰
      operationId: getTeamPK
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: team_act_id
          in: path
          description: 團賽代碼
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTeamPkResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  
  /team/{team_id}:
    get:
      produces:
        - application/json
      summary: "取得參賽團隊資料-明細"
      tags:
        - 挑戰
      operationId: getTeam
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: team_id
          in: path
          description: 團體團隊ID
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTeamResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /team/my/{team_act_id}:
    get:
      produces:
        - application/json
      summary: "取得我的團隊對戰資料-明細"
      tags:
        - 挑戰
      operationId: getMyTeam
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: team_act_id
          in: path
          description: 團賽代碼
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMyTeamResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /team/my:
    post:
      produces:
        - application/json
      summary: "決定會員加入團隊邀請(隊長使用)"
      tags:
        - 挑戰
      operationId: submitTeamInvite
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/TeamInviteMyTeamPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /team/invite:

    post:
      produces:
        - application/json
      summary: "邀請會員加入隊伍(隊長使用)"
      tags:
        - 挑戰
      operationId: inviteTeam
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string

        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/TeamInvitePostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /friend:
    get:
      produces:
        - application/json
      summary: "取得好友清單"
      tags:
        - 好友
      operationId: listFriend
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: is_suggest
          in: query
          description: 查詢系統推薦好友(Y/N)
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFriendResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /invite-friend:
    get:
      produces:
        - application/json
      summary: "取得好友邀請清單"
      tags:
        - 好友
      operationId: listInviteriend
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInviteFriendResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
    post:
      produces:
        - application/json
      summary: "好友邀請確認"
      tags:
        - 好友
      operationId: submitFriendInvite
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/InviteFriendPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  
  /adventure:
    get:
      produces:
        - application/json
      summary: "取得挑戰首頁"
      tags:
        - 探險
      operationId: getAdventure
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAdventureResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  
  /adventure/map/{level_id}:
    get:
      produces:
        - application/json
      summary: "取得挑戰地圖資訊"
      tags:
        - 探險
      operationId: getAdventureMap
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: level_id
          in: path
          description: 地圖等級
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAdventureMapResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /game:
    post:
      produces:
        - application/json
      summary: "完成遊戲"
      tags:
        - 遊戲
      operationId: saveGame
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/GamePostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /my:
    get:
      produces:
        - application/json
      summary: "取得我的資料"
      tags:
        - 我的
      operationId: getMy
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
    post:
      produces:
        - application/json
      summary: "修改個人資料"
      tags:
        - 我的
      operationId: saveMyInfo
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/MyInfoPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /take-task-bonus:
    post:
      produces:
        - application/json
      summary: "領取任務獎勵"
      tags:
        - 我的
      operationId: takeTaskBonus
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/TakeTaskBonusPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /my-exp:
    get:
      produces:
        - application/json
      summary: "取得我的經驗值資料"
      tags:
        - 我的
      operationId: getMyExp
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMyExpResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /my-coin:
    get:
      produces:
        - application/json
      summary: "取得我的龍珠資料"
      tags:
        - 我的
      operationId: getMyCoin
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMyCoinResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /my-badge:
    get:
      produces:
        - application/json
      summary: "取得我的徽章資料"
      tags:
        - 我的
      operationId: getMyBadge
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMyBadgeResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /my-product-exchange:
    get:
      produces:
        - application/json
      summary: "取得我的兌換券資料"
      tags:
        - 我的
      operationId: listMyProductExchange
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMyProductExchangeResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /my-product-exchange/{exchange_id}:
    get:
      produces:
        - application/json
      summary: "取得我的兌換券資料-明細"
      tags:
        - 我的
      operationId: getMyProductExchange
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: exchange_id
          in: path
          description: 兌換代碼
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMyProductExchangeResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /product:
    get:
      produces:
        - application/json
      summary: "取得商城資料"
      tags:
        - 商城
      operationId: listProduct
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProductResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /product-exchange:
    post:
      produces:
        - application/json
      summary: "兌換商品"
      tags:
        - 商城
      operationId: productExchange
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/ProductExchangePostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /insurance/activity:
    get:
      produces:
        - application/json
      summary: "取得保險首頁活動"
      tags:
        - 保險
      operationId: getInsuranceActivity
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInsuranceResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

  /insurance/policy:
    get:
      produces:
        - application/json
      summary: "取得團險保單清單"
      tags:
        - 保險
      operationId: listInsurancePolicy
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInsurancePolicyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /insurance/policy/{insurance_id}:
    get:
      produces:
        - application/json
      summary: "取得團險保單明細"
      tags:
        - 保險
      operationId: getInsurancePolicy
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: insurance_id
          in: path
          description: 團險主檔代碼
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInsurancePolicyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /bank:
    get:
      produces:
        - application/json
      summary: "取得各銀行分行"
      tags:
        - 保險
      operationId: listBank
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBankInfoResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /bank/account:
    get:
      produces:
        - application/json
      summary: "取得登入者銀行匯款帳號"
      tags:
        - 保險
      operationId: listBankAccount
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBankAccountInfoResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
    post:
      produces:
        - application/json
      summary: "儲存登入者銀行匯款帳號"
      tags:
        - 保險
      operationId: saveBankAccount
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/BankAccountPostRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /bank/account/delete:
    post:
      produces:
        - application/json
      summary: "刪除登入者銀行匯款帳號"
      tags:
        - 保險
      operationId: deleteBankAccount
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/BankAccountDeleteRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /claim:
    get:
      produces:
        - application/json
      summary: "取得登入者理賠申請清單"
      tags:
        - 保險
      operationId: listClaim
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClaimInfoResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
    post:
      produces:
        - application/json
      summary: "申請理賠"
      tags:
        - 保險
      operationId: saveClaim
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/SaveClaimRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /claim/{claim_id}:
    get:
      produces:
        - application/json
      summary: "取得登入者理賠申請明細"
      tags:
        - 保險
      operationId: getClaim
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: claim_id
          in: path
          description: 理賠申請案號
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetClaimInfoResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred
  /contact_me:
    post:
      produces:
        - application/json
      summary: "與我連絡"
      tags:
        - 保險
      operationId: contactMe
      parameters:
        - name: authorization
          in: header
          description: 登入者JWT
          required: true
          type: string
        - name: post_info
          in: body
          required: true
          schema:
            $ref: '#/definitions/ContactMeRequest'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GeneralResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/GeneralResponse'
        '500':
          description: Internal server error occurred

definitions:

  GetPkSummaryResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetPkSummaryInfo'

    required:
      - header
      - data

  GetPkSummaryInfo:
    type: object
    properties:
      personal:
        $ref: '#/definitions/PkSummaryInfo'
      team:
        $ref: '#/definitions/PkSummaryInfo'

  PkSummaryInfo:
    type: object
    properties:
      summary_1:
        type: number
        example: '1'
        description: 勝率欄位1(個人：勝率、團體：前10%幾場)
      summary_2:
        type: number
        example: '1'
        description: 勝率欄位2(個人：獲勝場數、團體：排名)
      summary_3:
        type: number
        example: '1'
        description: 勝率欄位3(挑戰場數)
    required:
      - summary_1
      - summary_2
      - summary_3

  GetMyProductExchangeResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/ProductExchangeDetailInfo'

    required:
      - header
      - data

  ProductExchangeDetailInfo:
    type: object
    properties:
      exchange_id:
        type: string
        example: 'xxx'
        description: 兌換代碼
      exchange_name:
        type: string
        example: 'xxx'
        description: 兌換卷名稱
      exchange_img:
        type: string
        example: 'xxx'
        description: 兌換卷圖檔
      exchange_date:
        type: string
        example: '2025/01/01'
        description: 使用期限
      status:
        type: string
        example: 'N'
        description: 狀態(N:未使用、U:已使用、E:已過期)
      coupon_no:
        type: string
        example: '42a53393-5ae3-49df-8d90-d3725f787cf8'
        description: 票券序號
      redeem_url:
        type: string
        example: 'https://txp.rs/viewvoucher.aspx?voucherguid=42a53393-5ae3-49df-8d90-d3725f787cf8'
        description: 核銷使用 URL
      valid_number:
        type: string
        example: 'PO4N8ZGJ23VJP5TB'
        description: 驗證碼

      prod_type:
        type: string
        example: 'C'
        description: 商品類型 (C:電子票券, V:折價券, G:Garmin 商城, E:網站連結)
      description:
        type: string
        example: '<p>0805????-1</p><p>0805????-1</p><p>0805????-10805????-10805????-10805????-10805????-10805????-1</p><p>0805????-10805????-10805????-10805????-10805????-10805????-1</p><p>0805????-10805????-10805????-10805????-10805????-10805????-1<br></p>'
        description: 商品說明
      usage:
        type: string
        example: '<ol><li>??????,???i???????????,??????????</li><li>?????</li></ol><div><br></div>'
        description: 使用說明
      notes:
        type: string
        example: '<ol><li>???:???????????????:??????65?2?????:???&nbsp; ????:22555003</li><li>???????????????????????,????????????/??(?????????,?????????????????????????????????????)?</li><li>???????,????????,??????????????????,??????????????????????????????????,??????????????</li><li>??????????????:0800-886-711?????????,???<a href="http://www.7-11.com.tw/service/card.asp"><span style="color:#0070C0">http://www.7-11.com.tw/service/card.asp</span></a></li><li>?????????,??????????????????????,??????,???????????</li><li>????????????,?????????????????????</li></ol>'
        description: 注意事項

    required:
      - exchange_id
      - exchange_name
      - exchange_img
      - exchange_date
      - status

  ListMyProductExchangeResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ProductExchangeInfo'
    required:
      - header
      - data

  ProductExchangeInfo:
    type: object
    properties:
      exchange_id:
        type: string
        example: 'xxx'
        description: 兌換代碼
      exchange_name:
        type: string
        example: 'xxx'
        description: 兌換卷名稱
      exchange_img:
        type: string
        example: 'xxx'
        description: 兌換卷圖檔
      exchange_date:
        type: string
        example: '2025/01/01'
        description: 使用期限
      status:
        type: string
        example: 'N'
        description: 狀態(N:未使用、U:已使用、E:已過期)

    required:
      - exchange_id
      - exchange_name
      - exchange_img
      - exchange_date
      - status

  ListMyCoinResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ExpCoinHistoryInfo'
    required:
      - header
      - data

  ListMyBadgeResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/MyBadgeInfo'
    required:
      - header
      - data

  MyBadgeInfo:
    type: object
    properties:
      badge_id:
        type: string
        example: 'xxxx'
        description: 徽章
      type:
        type: string
        example: 'I'
        description: 類型 (H:成就徽章, S:特殊徽章 , I:圖鑑)
      name:
        type: string
        example: 'PK達人'
        description: 徽章名稱
      progress_status:
        type: number
        example: 1
        description: 類型是H或S才會有達成階段(0/1/2/3)，0代表沒有達到


    required:
      - badge_id
      - type
      - name


  ListMyExpResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ExpCoinHistoryInfo'
    required:
      - header
      - data

  ExpCoinHistoryInfo:
    type: object
    properties:
      reason:
        type: string
        example: 'xxx'
        description: 原因
      date:
        type: string
        example: '2025/01/01'
        description: 時間
      type:
        type: string
        example: 'G'
        description: 類型(G:獲得、U:使用)
      amt:
        type: number
        example: 1
        description: 數量

    required:
      - reason
      - date
      - type
      - amt

  ListInviteFriendResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/FriendInfo'
    required:
      - header
      - data

  ListFriendResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/FriendInfo'
    required:
      - header
      - data

  FriendInfo:
    type: object
    properties:
      friend_id:
        type: string
        example: 'xxx'
        description: 好友代碼
      name:
        type: string
        example: '鄧x文'
        description: 好友名稱
      my_referrer_code:
        type: string
        example: 'XXXX'
        description: 推薦碼
      level:
        type: number
        example: 1
        description: 等級
      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 頭像
      one_day_max_steps:
        type: number
        example: 1500
        description: 單日最高步數
      winner_rate:
        type: number
        example: 30
        description: PK勝率

    required:
      - friend_id
      - name
      - my_referrer_code
      - level
      - avatar
      - one_day_max_steps
      - winner_rate

  ListPersonalPkResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/PersonalPkInfo'
    required:
      - header
      - data

  PersonalPkInfo:
    type: object
    properties:
      pk_id:
        type: string
        example: 'xxx'
        description: 個人PK賽ID
      period:
        type: number
        example: 7
        description: 對戰天數
      steps:
        type: number
        example: 15000
        description: 對戰步數
      coins:
        type: number
        example: 50
        description: 押注龍珠數
      remaining_days:
        type: number
        example: 6
        description: 剩餘天數
      my_steps:
        type: number
        example: 1500
        description: 自己當前步數
      target_steps:
        type: number
        example: 150
        description: 對手當前步數
      target_nickname:
        type: string
        example: '鄧x文'
        description: 對手暱稱
      target_avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 對手頭像路徑
      status:
        type: string
        example: 'P'
        description: 狀態(P:進行中,C:待確認,E:已結束,X:已過期,R:已拒絕,N:已取消)
      invite_expire_day:
        type: number
        example: '20'
        description: 邀請挑戰幾天後失效(當status為C才會有值)
      confirm_flag:
        type: string
        example: 'I'
        description: 邀請方向(當status為C才會有值，I：主動、P：被動)
      pk_end_time:
        type: string
        example: '2025/10/10'
        description: PK結束時間(當status為E才會有值)
    required:
      - pk_id
      - period
      - steps
      - coins
      - my_steps
      - target_steps
      - target_nickname
      - target_avatar
      - status

  GetTeamResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetTeamInfo'
    required:
      - header
      - data

  GetTeamInfo:
    type: object
    properties:

      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 隊伍頭像
      name:
        type: string
        example: '帶你飛'
        description: 隊伍名稱
      active_rate:
        type: number
        example: '30'
        description: 活躍度
      step:
        type: number
        example: '999999'
        description: 總步數
      members:
        type: array
        items:
          $ref: '#/definitions/TeamMemberInfo'


    required:
      - avatar
      - name
      - active_rate
      - step
      - members



  TeamMemberInfo:
    type: object
    properties:
      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 團隊頭像
      name:
        type: string
        example: '帶你飛'
        description: 會員名稱
      my_referrer_code:
        type: string
        example: 'xxxx'
        description: 推薦碼
      step:
        type: number
        example: '1000000'
        description: 目前總步數
      is_leader:
        type: string
        example: 'Y'
        description: 是否為隊長(Y/N)

    required:
      - avatar
      - name
      - my_referrer_code
      - step
      - is_leader

  GetMyTeamResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetMyTeamInfo'
    required:
      - header
      - data

  GetMyTeamInfo:
    type: object
    properties:

      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 隊伍頭像
      name:
        type: string
        example: '帶你飛'
        description: 隊伍名稱
      active_rate:
        type: number
        example: '30'
        description: 活躍度
      step:
        type: number
        example: '999999'
        description: 總步數
      members:
        type: array
        items:
          $ref: '#/definitions/TeamMemberInfo'
      invite:
        type: array
        items:
          $ref: '#/definitions/TeamInviteMemberInfo'

    required:
      - avatar
      - name
      - active_rate
      - step
      - members
      - invite

  TeamInviteMemberInfo:
    type: object
    properties:
      team_invite_id:
        type: string
        example: 'xxxxx'
        description: 團隊邀請代碼
      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 團隊頭像
      name:
        type: string
        example: '帶你飛'
        description: 會員名稱
      my_referrer_code:
        type: string
        example: 'xxxx'
        description: 推薦碼
      avg_step:
        type: number
        example: '1000000'
        description: 平均日步數

    required:
      - team_invite_id
      - avatar
      - name
      - my_referrer_code
      - avg_step
      - is_leader

  GetTeamPkResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetTeamPkInfo'
    required:
      - header
      - data

  GetTeamPkInfo:
    type: object
    properties:

      team_act_name:
        type: string
        example: '1月健康企業正式賽'
        description: 活動名稱
      banner:
        type: string
        example: 'assets/images/banner_1.png'
        description: 活動Banner
      season:
        type: string
        example: 'spring'
        description: 季節背景(春天:spring夏天:summer秋天:fall冬天:winter)

      activity_deadline:
        type: string
        example: '2026/01/01'
        description: 活動報名截止日期

      status:
        type: string
        example: 'P'
        description: 狀態(PENDING:即將開賽,ING:進行中,C:結算中,E:已結束)

      description:
        type: string
        example: '活動說明活動說明活動說明'
        description: 活動說明

      game_start_date:
        type: string
        example: '2026/01/01'
        description: 比賽開始日期
      game_end_date:
        type: string
        example: '2026/03/01'
        description: 比賽結束日期

      total_people:
        type: number
        example: 100
        description: 總人數
      total_team:
        type: number
        example: 100
        description: 總隊伍
      recent_join:
        type: array
        items:
          example: 'assets/images/avatar.png'
      target_steps:
        type: number
        example: 9999999
        description: 目標步數
      total_coins:
        type: number
        example: 9999999
        description: 龍珠總數

      bonus_team_no_1:
        type: number
        example: 30
        description: 團體賽第一名占比
      bonus_team_no_1_coins:
        type: number
        example: 30
        description: 團體賽第一名可獲得龍珠數
      bonus_team_no_2:
        type: number
        example: 30
        description: 團體賽第二名占比
      bonus_team_no_2_coins:
        type: number
        example: 30
        description: 團體賽第二名可獲得龍珠數
      bonus_team_no_3:
        type: number
        example: 30
        description: 團體賽第三名占比
      bonus_team_no_3_coins:
        type: number
        example: 30
        description: 團體賽第三名可獲得龍珠數

      bonus_personal_no_1:
        type: number
        example: 30
        description: 個人第一名占比
      bonus_personal_no_1_coins:
        type: number
        example: 30
        description: 個人第一名可獲得龍珠數
      bonus_personal_no_2:
        type: number
        example: 30
        description: 個人第二名占比
      bonus_personal_no_2_coins:
        type: number
        example: 30
        description: 個人第二名可獲得龍珠數
      bonus_personal_no_3:
        type: number
        example: 30
        description: 個人第三名占比
      bonus_personal_no_3_coins:
        type: number
        example: 30
        description: 個人第三名可獲得龍珠數
      team_map:
        type: array
        items:
          $ref: '#/definitions/TeamPkMapInfo'
      team_leaderboard:
        type: array
        items:
          $ref: '#/definitions/TeamPkTeamLeaderBoardInfo'
      personal_leaderboard:
        type: array
        items:
          $ref: '#/definitions/TeamPkPersonalLeaderBoardInfo'
      my_team_id:
        type: string
        example: '222'
        description: 我的隊伍代碼

    required:
      - team_act_name
      - banner
      - game_start_date
      - game_end_date
      - total_people
      - total_team
      - recent_join
      - target_steps
      - total_coins
      - bonus_team_no_1
      - bonus_team_no_1_coins
      - bonus_team_no_2
      - bonus_team_no_2_coins
      - bonus_team_no_3
      - bonus_team_no_3_coins
      - bonus_personal_no_1
      - bonus_personal_no_1_coins
      - bonus_personal_no_2
      - bonus_personal_no_2_coins
      - bonus_personal_no_3
      - bonus_personal_no_3_coins
      - team_map
      - team_leaderboard
      - personal_leaderboard

  TeamPkPersonalLeaderBoardInfo:
    type: object
    properties:
      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 團隊頭像
      name:
        type: string
        example: '帶你飛'
        description: 會員名稱
      my_referrer_code:
        type: string
        example: 'xxxx'
        description: 推薦碼
      step:
        type: number
        example: '1000000'
        description: 目前總步數


    required:
      - avatar
      - name
      - my_referrer_code
      - step



  TeamPkTeamLeaderBoardInfo:
    type: object
    properties:
      team_id:
        type: string
        example: 'xxxxx'
        description: 團體團隊ID
      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 團隊頭像
      name:
        type: string
        example: '帶你飛'
        description: 團隊名稱
      step:
        type: number
        example: '1000000'
        description: 團隊目前總步數
      max_people_num:
        type: number
        example: '3'
        description: 團隊人數上限
      current_people_num:
        type: number
        example: '2'
        description: 目前團隊人數
    required:
      - team_id
      - avatar
      - name
      - step
      - max_people_num
      - current_people_num

  TeamPkMapInfo:
    type: object
    properties:
      map_point:
        type: number
        example: '1'
        description: 地圖顯示級距(共10個)
      point_start_step:
        type: number
        example: '0'
        description: 級距開始步數
      point_end_step:
        type: number
        example: '100000'
        description: 級距結束步數
      teams:
        type: array
        items:
          $ref: '#/definitions/TeamPkMapTeamInfo'

    required:
      - map_point
      - point_start_step
      - point_end_step
      - teams

  TeamPkMapTeamInfo:
    type: object
    properties:
      avatar:
        type: string
        example: 'assets/images/avatar.png'
        description: 團隊頭像
      name:
        type: string
        example: '帶你飛'
        description: 團隊名稱

    required:
      - avatar
      - name

  ListTeamPkResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/ListTeamPkInfo'
    required:
      - header
      - data

  ListTeamPkInfo:
    type: object
    properties:
      all:
        type: array
        items:
          $ref: '#/definitions/TeamPkInfo'
      my:
        type: array
        items:
          $ref: '#/definitions/TeamPkInfo'
      invite:
        type: array
        items:
          $ref: '#/definitions/InviteTeamPkInfo'
      join:
        type: array
        items:
          $ref: '#/definitions/JoinTeamPkInfo'

    required:
      - all
      - my
      - invite
      - join

  JoinTeamPkInfo:
    type: object
    properties:
      team_invite_id:
        type: string
        example: 'xxx'
        description: 團體團隊邀請ID
      team_act_name:
        type: string
        example: '1月健康企業正式賽'
        description: 活動名稱
      target_friend_name:
        type: string
        example: 'XXXX'
        description: 受邀會員名稱
      target_friend_avator:
        type: string
        example: 'assets/images/banner_1.png'
        description: 受邀會員頭像

      accu_member_cnt:
        type: number
        example: 100
        description: 隊伍人數
      max_people_num:
        type: number
        example: 100
        description: 隊伍人數上限
      min_people_num:
        type: number
        example: 100
        description: 隊伍人數下限

      recent_join:
        type: array
        items:
          example: 'assets/images/avatar.png'
    required:
      - team_invite_id
      - team_act_name
      - target_friend_name
      - target_friend_avator
      - accu_member_cnt
      - max_people_num
      - min_people_num

  InviteTeamPkInfo:
    type: object
    properties:
      team_invite_id:
        type: string
        example: 'xxx'
        description: 團體團隊邀請ID
      team_act_name:
        type: string
        example: '1月健康企業正式賽'
        description: 活動名稱
      team_name:
        type: string
        example: 'XXXX'
        description: 隊伍名稱
      team_avator:
        type: string
        example: 'assets/images/banner_1.png'
        description: 隊伍頭像

      accu_member_cnt:
        type: number
        example: 100
        description: 隊伍人數
      max_people_num:
        type: number
        example: 100
        description: 隊伍人數上限
      min_people_num:
        type: number
        example: 100
        description: 隊伍人數下限

      recent_join:
        type: array
        items:
          example: 'assets/images/avatar.png'
    required:
      - team_invite_id
      - team_act_name
      - team_name
      - team_avator
      - accu_member_cnt
      - max_people_num
      - min_people_num

  TeamPkInfo:
    type: object
    properties:
      team_act_id:
        type: string
        example: 'xxx'
        description: 團體PK賽ID
      team_act_name:
        type: string
        example: '1月健康企業正式賽'
        description: 活動名稱
      banner:
        type: string
        example: 'assets/images/banner_1.png'
        description: 活動Banner
      activity_deadline:
        type: string
        example: '2026/01/01'
        description: 活動報名截止日期
      participent_limit:
        type: number
        example: 100
        description: 參與人數
      total_coins:
        type: number
        example: 1000
        description: 總獎勵龍珠數
      recent_join:
        type: array
        items:
          example: 'assets/images/avatar.png'
      status:
        type: string
        example: 'P'
        description: 狀態(PENDING:即將開賽,ING:進行中,C:結算中,E:已結束)

      game_end_date:
        type: string
        example: '2020/06/10'
        description: 比賽結束日期(當status為ING才有值)

      invite_expire_day:
        type: number
        example: '20'
        description: 邀請挑戰幾天後失效(當status為C才會有值)

    required:
      - team_act_id
      - team_act_name
      - activity_deadline
      - participent_limit
      - total_coins
      - status

  GetMainHealthResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetMainHealthInfo'
    required:
      - header

  GetMainHealthInfo:
    type: object
    properties:
      step:
        $ref: '#/definitions/MainHealthStepInfo'
      sleep:
        $ref: '#/definitions/MainHealthSleepInfo'
    required:
      - step
      - sleep

  MainHealthSleepInfo:
    type: object
    properties:
      week:
        $ref: '#/definitions/MainHealthSleepDetailInfo'
      month:
        $ref: '#/definitions/MainHealthSleepDetailInfo'
    required:
      - week
      - month

  MainHealthSleepDetailInfo:
    type: object
    properties:
      avg_sleep_hour:
        type: number
        example: '7'
        description: 平均睡眠時間(時)
      avg_sleep_minute:
        type: number
        example: '0'
        description: 平均深睡眠時間(分)
      avg_deep_sleep_hour:
        type: number
        example: '7'
        description: 平均深層睡眠時間(時)
      avg_deep_sleep_minute:
        type: number
        example: '0'
        description: 平均深層睡眠時間(分)
      avg_light_sleep_hour:
        type: number
        example: '7'
        description: 平均淺層睡眠時間(時)
      avg_light_sleep_minute:
        type: number
        example: '0'
        description: 平均淺層睡眠時間(分)
      pre_avg_step_direction:
        type: string
        example: 'UP'
        description: 本期間與上期間的是增加還減少還是持平(UP / DOWN / -)
      achieve_count:
        type: number
        example: '3'
        description: 達標次數
      chart:
        type: array
        description: 圖表資料
        items:
          $ref: '#/definitions/SleepChartInfo'
    required:
      - avg_sleep_hour
      - avg_sleep_minute
      - avg_deep_sleep_hour
      - avg_deep_sleep_minute
      - avg_light_sleep_hour
      - avg_light_sleep_minute
      - chart

  SleepChartInfo:
    type: object
    properties:
      date:
        type: string
        example: '2025/01/01'
        description: 日期
      deep:
        type: number
        example: '3'
        description: 深層小時
      light:
        type: number
        example: '3'
        description: 淺層小時
      rem:
        type: number
        example: '3'
        description: rem小時
    required:
      - date
      - deep
      - light
      - rem

  MainHealthStepInfo:
    type: object
    properties:
      week:
        $ref: '#/definitions/MainHealthStepDetailInfo'
      month:
        $ref: '#/definitions/MainHealthStepDetailInfo'
    required:
      - week
      - month

  MainHealthStepDetailInfo:
    type: object
    properties:
      total_step:
        type: number
        example: '50000'
        description: 總步數
      total_calories:
        type: number
        example: '50000'
        description: 總卡路里
      total_distance:
        type: number
        example: '50000'
        description: 總距離
      pre_avg_step:
        type: number
        example: '3000'
        description: 過去平均步數
      pre_avg_step_direction:
        type: string
        example: 'UP'
        description: 本期間與上期間的是增加還減少(UP / DOWN)
      one_day_max_step:
        type: number
        example: '7000'
        description: 單日最多步
      one_day_max_date:
        type: string
        example: '2025/10/10'
        description: 單日最多日期
      achieve_count:
        type: number
        example: '3'
        description: 達標次數
      chart:
        type: array
        description: 圖表資料
        items:
          $ref: '#/definitions/StepChartInfo'
    required:
      - total_step
      - total_calories
      - total_distance
      - achieve_count
      - chart

  StepChartInfo:
    type: object
    properties:
      date:
        type: string
        example: '2025/01/01'
        description: 日期
      step:
        type: number
        example: '9999'
        description: 步數
    required:
      - date
      - step

  GetAdventureMapResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetAdventureMapInfo'
    required:
      - header

  GetAdventureMapInfo:
    type: object
    properties:
      exp_start:
        type: number
        description: 登入者角色在這張地圖的經值驗起點
        example: 20000
      exp_end:
        type: number
        description: 目前地圖最大經驗值
        example: 20000
      checkpoint_level:
        type: number
        description: 目前地圖進到哪個階段
        example: 2
      is_complete:
        type: string
        example: 'Y'
        description: 是否完成
      checkpoint_bonus:
        type: array
        items:
          $ref: '#/definitions/GetAdventureMapCheckPointBonusInfo'
    required:
      - level
      - exp_end
      - checkpoint_level
      - map_progress
      - checkpoint_bonus

  GetAdventureMapCheckPointBonusInfo:
    type: object
    properties:
      bonus_exp:
        type: number
        description: 獎勵經驗值
        example: 20000
      bonus_coins:
        type: number
        description: 獎勵龍珠
        example: 20000
      bonus_free_game:
        type: number
        description: 獎勵免費遊戲次數
        example: 2
      is_get:
        type: string
        example: 'Y'
        description: 是否接收

    required:
      - bonus_exp
      - bonus_coins
      - bonus_free_game
      - is_get


  GetAdventureResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetAdventureInfo'
    required:
      - header

  GetAdventureInfo:
    type: object
    properties:
      current_map_level:
        type: number
        description: 目前遊戲進度到哪一張大地圖(1~10)
        example: 1
      roles:
        type: array
        description: 所有角色
        items:
          $ref: '#/definitions/MapRoleInfo'
    required:
      - current_map_level
      - roles

  MapRoleInfo:
    type: object
    properties:
      id:
        type: string
        example: 'xxx'
        description: 角色ID
      name:
        type: string
        example: '馴龍高手'
        description: 角色名稱
      image:
        type: string
        description: 角色圖片
        example: 'assets/xxxx'
      is_complete:
        type: string
        example: 'Y'
        description: 是否完成
      is_use:
        type: string
        example: 'Y'
        description: 是否使用中
    required:
      - id
      - name
      - image
      - is_complete
      - is_use

  ListDistrictResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/DistrictInfo'
    required:
      - header

  DistrictInfo:
    type: object
    properties:
      city:
        type: string
        description: 縣市
        example: '台北市'
      district:
        type: string
        description: 行政區
        example: '中正區'

    required:
      - city
      - district

  GetInsurancePolicyResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetInsurancePolicyInfo'

    required:
      - header

  GetInsurancePolicyInfo:
    type: object
    properties:
      insurance_no:
        type: string
        example: '3500058278'
        description: 團保單號
      company_name:
        type: string
        example: '台灣人壽'
        description: 投保公司名稱
      start_date:
        type: string
        example: '2021-07-31'
        description: 有效起日
      end_date:
        type: string
        example: '2022-07-31'
        description: 有效迄日
      members:
        type: array
        items:
          $ref: '#/definitions/GetInsurancePolicyMemberInfo'

    required:
      - insurance_id
      - insurance_no
      - company_name
      - start_date
      - end_date
      - members

  GetInsurancePolicyMemberInfo:
    type: object
    properties:
      type:
        type: string
        example: 'A'
        description: 類型 (A:本人、B:配偶、C:字女、D:本父、E:本母、F:配父、G:配母)
      name:
        type: string
        example: '涂Ｏ璇'
        description: 團保人姓名
      description:
        type: string
        example: '台灣人壽團體全方位傷害保險附約-航空意外'
        description: 團保明細說明
      amount:
        type: number
        example: '1000000.0'
        description: 團保金額

    required:
      - type
      - name
      - description
      - amount

  GetClaimInfoResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        items:
          $ref: '#/definitions/GetClaimInfo'
    required:
      - header

  GetClaimInfo:
    type: object
    properties:
      claim_id:
        type: string
        example: 'xxxxxx'
        description: 理賠申請案號
      type:
        type: string
        example: 'N'
        description: 類別 (N:一般醫療(疾病), A:意外醫療(意外))
      apply_date:
        type: string
        example: '2025/10/10'
        description: 申請日期/時間
      accident_name:
        type: string
        example: 'A123456789'
        description: 事故人姓名
      details:
        type: array
        items:
          $ref: '#/definitions/GetClaimDetailInfo'


    required:
      - claim_id
      - type
      - apply_date
      - accident_name
      - details

  GetClaimDetailInfo:
    type: object
    properties:
      claim_case_no:
        type: string
        example: 'xxxxxx'
        description: 保險理賠案號
      status:
        type: string
        example: '審核中'
        description: 狀態
      status_date:
        type: string
        example: '2025/10/10'
        description: 狀態時間
      description:
        type: string
        example: '2025/10/10'
        description: 理賠給付說明


    required:
      - claim_case_no
      - status
      - status_date
      - description

  ListClaimInfoResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ListClaimInfo'
    required:
      - header

  ListClaimInfo:
    type: object
    properties:
      claim_id:
        type: string
        example: 'xxxxxx'
        description: 理賠案號
      type:
        type: string
        example: 'N'
        description: 類別 (N:一般醫療(疾病), A:意外醫療(意外))
      apply_date:
        type: string
        example: '2025/10/10'
        description: 申請日期/時間
      status:
        type: string
        example: 'P'
        description: 狀態 (P:審核中, S:已送出, F:已結案)


    required:
      - claim_id
      - type
      - apply_date
      - status

  ListBankAccountInfoResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ListBankAccountInfo'
    required:
      - header

  ListBankAccountInfo:
    type: object
    properties:
      account_id:
        type: string
        example: 'xxxxxx'
        description: 匯款帳號代碼
      bank_code:
        type: string
        example: '006'
        description: 銀行代碼
      bank_name:
        type: string
        example: '合作金庫商業銀行'
        description: 銀行名稱
      branch_code:
        type: string
        example: '1427'
        description: 分行代碼
      branch_name:
        type: string
        example: '石牌分行'
        description: 分行名稱
      account_no:
        type: string
        example: 'ＸＸＸＸＸ'
        description: 匯款帳號
      is_default:
        type: string
        example: 'Y'
        description: 是否為預設帳戶(Y/N)

    required:
      - account_id
      - bank_code
      - bank_name
      - branch_code
      - account_no
      - is_default

  ListBankInfoResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ListBankInfo'
    required:
      - header

  ListBankInfo:
    type: object
    properties:
      bank_code:
        type: string
        example: '006'
        description: 銀行代碼
      bank_name:
        type: string
        example: '合作金庫商業銀行'
        description: 銀行名稱
      branch_code:
        type: string
        example: '1427'
        description: 分行代碼
      branch_name:
        type: string
        example: '石牌分行'
        description: 分行名稱

    required:
      - bank_code
      - bank_name
      - branch_code
      - branch_name


  ListInsurancePolicyResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ListInsurancePolicyInfo'
    required:
      - header

  ListInsurancePolicyInfo:
    type: object
    properties:
      insurance_id:
        type: string
        example: '05139d10-5b0a-40e8-b66c-0fb6aefd6f12'
        description: 團保主檔代碼
      insurance_no:
        type: string
        example: '3500058278'
        description: 團保單號
      company_name:
        type: string
        example: '台灣人壽'
        description: 投保公司名稱
      start_date:
        type: string
        example: '2021-07-31'
        description: 有效起日
      end_date:
        type: string
        example: '2022-07-31'
        description: 有效迄日
      members:
        type: array
        items:
          example: 'A'
      assistant:
        type: array
        items:
          $ref: '#/definitions/ListInsurancePolicyAssistantInfo'

    required:
      - insurance_id
      - insurance_no
      - company_name
      - start_date
      - end_date
      - members
      - assistant

  ListInsurancePolicyAssistantInfo:
    type: object
    properties:
      name:
        type: string
        example: '蕭Ｏ○'
        description: 團保專員名稱
      tel:
        type: string
        example: '0982xxxx33'
        description: 團保專員電話

    required:
      - name
      - tel


  GetInsuranceResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetInsuranceInfo'
    required:
      - header

  GetInsuranceInfo:
    type: object
    properties:
      card:
        type: array
        description: 團險保險上方卡片
        items:
          $ref: '#/definitions/InsuranceCardInfo'
      popular_act:
        type: array
        description: 下方熱門活動
        items:
          $ref: '#/definitions/InsurancePopularActInfo'
    required:
      - card
      - popular_act

  InsurancePopularActInfo:
    type: object
    properties:
      subject:
        type: string
        example: '保險熱起來'
        description: 熱門活動主旨
      content:
        type: string
        example: '疫情之下好必要，多元記錄身體數據(步數、睡眠及血氧)，首創心臟健康追蹤及心律評估程式'
        description: 熱門活動內容
      url:
        type: string
        example: 'assets/xxxx'
        description: 熱門活動 URL
      image:
        type: string
        example: 'assets/xxxx'
        description: 熱門活動圖片路徑
    required:
      - subject
      - url
      - image

  InsuranceCardInfo:
    type: object
    properties:
      subject:
        type: string
        example: '保險卡片主旨保險卡片主旨保險卡片主旨'
        description: 保險卡片主旨
      url:
        type: string
        example: 'https://www.taiwanlife.com/html/Activity/2021/2021q4/index.html'
        description: 保險卡片Url
      image:
        type: string
        example: 'assets/xxxx'
        description: 保險卡片路徑
    required:
      - subject
      - url
      - image

  ListProductResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        type: array
        items:
          $ref: '#/definitions/ProductInfo'
    required:
      - header

  GetMyResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetMyInfo'
    required:
      - header

  GetMyInfo:
    type: object
    properties:
      sign_up:
        type: array
        description: 連續簽到設定
        items:
          $ref: '#/definitions/SingUpInfo'
      tasks:
        type: array
        description: 任務
        items:
          $ref: '#/definitions/TaskInfo'


    required:
      - sign_up
      - tasks


  ProductInfo:
    type: object
    properties:
      product_id:
        type: string
        example: 'XXXXXX'
        description: 商品ID
      prod_name:
        type: string
        example: '統一超商 50元虛擬商品卡 (202307)'
        description: 商品名稱
      end_date:
        type: string
        example: '2025/12/31'
        description: 兌換期限
      home_img:
        type: string
        example: '/uploads/images/product/16887117112631241.png'
        description: 首頁圖片

      detail_img_1:
        type: string
        example: '/uploads/images/product/16887117112631241.png'
        description: 商品詳情圖檔1
      detail_img_2:
        type: string
        example: '/uploads/images/product/16887117112631241.png'
        description: 商品詳情圖檔2
      detail_img_3:
        type: string
        example: '/uploads/images/product/16887117112631241.png'
        description: 商品詳情圖檔3
      detail_img_4:
        type: string
        example: '/uploads/images/product/16887117112631241.png'
        description: 商品詳情圖檔4
      detail_img_5:
        type: string
        example: '/uploads/images/product/16887117112631241.png'
        description: 商品詳情圖檔5

      description:
        type: string
        example: '<p>0805????-1</p><p>0805????-1</p><p>0805????-10805????-10805????-10805????-10805????-10805????-1</p><p>0805????-10805????-10805????-10805????-10805????-10805????-1</p><p>0805????-10805????-10805????-10805????-10805????-10805????-1<br></p>'
        description: 商品說明
      usage:
        type: string
        example: '<ol><li>??????,???i???????????,??????????</li><li>?????</li></ol><div><br></div>'
        description: 使用說明
      notes:
        type: string
        example: '<ol><li>???:???????????????:??????65?2?????:???&nbsp; ????:22555003</li><li>???????????????????????,????????????/??(?????????,?????????????????????????????????????)?</li><li>???????,????????,??????????????????,??????????????????????????????????,??????????????</li><li>??????????????:0800-886-711?????????,???<a href="http://www.7-11.com.tw/service/card.asp"><span style="color:#0070C0">http://www.7-11.com.tw/service/card.asp</span></a></li><li>?????????,??????????????????????,??????,???????????</li><li>????????????,?????????????????????</li></ol>'
        description: 注意事項
      is_popular:
        type: string
        example: 'Y'
        description: 是否為熱門商品

      original_coins:
        type: number
        example: '100'
        description: 兌換龍珠幣
      cost_unit_price:
        type: number
        example: '100'
        description: 原市價
      limit_exchange_amt:
        type: number
        example: '100'
        description: 限兌數量
      quantity:
        type: number
        example: '5'
        description: 餘下數量



    required:
      - product_id
      - prod_name
      - end_date
      - home_img
      - original_coins
      - cost_unit_price
      - limit_exchange_amt
      - quantity


  TaskInfo:
    type: object
    properties:
      task_id:
        type: string
        example: 'XXXXXX'
        description: 任務ID
      task_type:
        type: string
        example: 'F'
        description: 任務類型(F：新手、A：進階)
      task_name:
        type: string
        example: '使用自訂頭像或暱稱'
        description: 任務名稱
      coins:
        type: number
        example: '10'
        description: 獎勵龍珠
      exp:
        type: number
        example: '10'
        description: 經驗值獎勵
      game:
        type: number
        example: '10'
        description: 獎勵免費遊戲次數
      complete_rate:
        type: number
        example: '100'
        description: 完成百分比
      questionnaire_id:
        type: string
        example: 'xxxxx'
        description: 問卷序號
      status:
        type: string
        example: 'P'
        description: 任務達成狀態(T:去完成、P:進行中、U:已完成待領取、A:已領取)

    required:
      - task_id
      - task_type
      - task_name
      - coins
      - exp
      - game
      - complete_rate
      - status

  SingUpInfo:
    type: object
    properties:
      coins:
        type: number
        example: '10'
        description: 獎勵龍珠
      exp:
        type: number
        example: '10'
        description: 龍珠發畢後之經驗值獎勵
      bonus_type:
        type: string
        example: 'EXP'
        description: 獎勵型態(COIN：龍珠、EXP：經驗值)

    required:
      - continue_sign_up_count
      - coins
      - exp
      - bonus_type


  GetMainResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/GetMainInfo'
    required:
      - header

  GetMainInfo:
    type: object
    properties:
      activities:
        type: array
        description: 熱門活動
        items:
          $ref: '#/definitions/ActivityInfo'
      announcement:
        type: array
        description: 公告訊息
        items:
          $ref: '#/definitions/AnnouncementInfo'
      steps:
        $ref: '#/definitions/IndexStepInfo'
      sleep:
        $ref: '#/definitions/IndexSleepInfo'
    required:
      - activities
      - announcement
      - steps
      - sleep

  ActivityInfo:
    type: object
    properties:
      activity_id:
        type: string
        example: 'U000'
        description: 活動ID
      name:
        type: string
        example: '一起健走'
        description: 主標題
      sub_name:
        type: string
        example: '龍珠活動'
        description: 副標題
      content:
        type: string
        example: '<p>2022/3/1~2022/3/31活動期間內，組隊隊伍每人每日平均步數達7,500步，抽 AirPods Pro</p><p>(抽出1組隊伍，中獎隊伍每人1個，共3個)</p>'
        description: 活動詳細說明(HTML)
      home_img:
        type: string
        example: 'assets/images/banner_blue.png'
        description: 首頁圖檔
      banner_img:
        type: string
        example: 'assets/images/banner_blue.png'
        description: 詳情Banner圖檔
      url_type:
        type: string
        example: 'E'
        description: URL跳轉類型(E:外部 / I:內部)
      url:
        type: string
        example: '/challenge/team_pk/02364b08-cf68-474c-9178-53ec53467381/detail'
        description: URL跳轉
    required:
      - activity_id
      - name
      - sub_name
      - home_img
      - url_type
      - url

  AnnouncementInfo:
    type: object
    properties:
      announcement_id:
        type: string
        example: '2a07571b-4ab3-4d2b-b85e-263a96de4fbc'
        description: 公告ID
      subject:
        type: string
        example: '系統更新公告'
        description: 主旨
      content:
        type: string
        example: '於2025/01/01將更新系統'
        description: 內容
    required:
      - announcement_id
      - subject
      - content

  IndexStepInfo:
    type: object
    properties:
      steps_goal:
        type: number
        example: 15000
        description: 目標步數
      steps_today:
        type: number
        example: 15000
        description: 今日步數
      steps_distance:
        type: number
        example: 10
        description: 步行距離(公里)
      calories:
        type: number
        example: 300
        description: 消耗的卡路里
    required:
      - steps_goal
      - steps_today
      - steps_distance
      - calories

  IndexSleepInfo:
    type: object
    properties:
      sleep_goal:
        type: number
        example: 8
        description: 每日目標睡眠小時
      sleep_today:
        type: number
        example: 420
        description: 今日睡眠時間(分鐘)
      sleep_deep_today:
        type: number
        example: 420
        description: 今日深眠時間(分鐘)
      sleep_shallow_today:
        type: number
        example: 420
        description: 今日淺眠時間(分鐘)
    required:
      - sleep_goal
      - sleep_today
      - sleep_deep_today
      - sleep_shallow_today


  LoginPostRequest:
    type: object
    properties:
      appl_id:
        type: string
        description: 登入者帳號
        example: 'xxxxx'
      ticket:
        type: string
        description: CSSO Ticket資訊
        example: 'xxxxx'
      service:
        type: string
        description: CSSO service
        example: 'xxxx'
      app_uuid:
        type: string
        description: app安裝後產生唯一識別碼
        example: 'xxxx'
      device_id:
        type: string
        description: 裝置識別碼
        example: 'xxxx'
      push_id:
        type: string
        description: FCM推播Token
        example: 'xxxx'

    required:
      - appl_id
      - ticket
      - service
      - app_uuid
      - device_id
      - push_id

  CancelInviteTeamPKPostRequest:
    type: object
    properties:
      team_invite_id:
        type: string
        description: 團隊組隊邀請代碼
        example: 'xxxx'


    required:
      - team_invite_id

  TeamInvitePostRequest:
    type: object
    properties:
      team_act_id:
        type: string
        description: 團賽代碼
        example: 'XX'
      member_id:
        type: string
        description: 會員代碼
        example: 'xxxx'


  TeamInviteMyTeamPostRequest:
    type: object
    properties:
      team_invite_id:
        type: string
        description: 團隊組隊邀請代碼
        example: 'xxxx'
      result:
        type: string
        description: 接受或拒絕(Y：接受 / N拒絕)
        example: 'Y'


    required:
      - team_invite_id
      - result

  TeamPKPostRequest:
    type: object
    properties:
      team_invite_id:
        type: string
        description: 團隊組隊邀請代碼
        example: 'xxxx'
      result:
        type: string
        description: 接受或拒絕(Y：接受 / N拒絕)
        example: 'Y'


    required:
      - team_invite_id
      - result

  PersonalPKCancelInvitePostRequest:
    type: object
    properties:
      pk_id:
        type: string
        description: PK邀請代碼
        example: 'xxxx'

    required:
      - pk_id

  SaveClaimRequest:
    type: object
    properties:
      type:
        type: string
        description: 類別 (N:一般醫療(疾病), A:意外醫療(意外))
        example: 'N'
      dx_cert_path:
        type: array
        description: 診斷證明書圖片(base64)
        items:
          example: 'xxxxxxxxxxx'
      med_receipt_path:
        type: array
        description: 就醫收據圖片(base64)
        items:
          example: 'xxxxxxxxxxx'
      acc_cert_path:
        type: array
        description: 事故證明文件圖片(base64)
        items:
          example: 'xxxxxxxxxxx'
      acc_date:
        type: string
        description: 事故日期
        example: '2025/10/10'
      acc_time:
        type: string
        description: 事故時間
        example: '0-1時'
      acc_location:
        type: string
        description: 事故地點
        example: '台北車站前'
      reason:
        type: string
        description: 原因
        example: '車禍 (行人)'
      supplement:
        type: string
        description: 補充說明
        example: '碰撞'
      is_call_police:
        type: string
        description: 是否報警(Y/N)
        example: 'Y'
      police_name:
        type: string
        description: 員警姓名
        example: '古风'
      police_mobile:
        type: string
        description: 員警連絡電話
        example: '0936925814'

      bank_code:
        type: string
        description: 銀行代碼
        example: '004'
      bank_name:
        type: string
        description: 銀行名稱
        example: '臺灣銀行'
      branch_code:
        type: string
        description: 分行代碼
        example: '0107'
      branch_name:
        type: string
        description: 分行名稱
        example: '台中分行'
      account_no:
        type: string
        description: 匯款帳號
        example: '12345678'
      agress_chaim_chain:
        type: string
        description: 是否同意理賠聯盟鏈(Y/N)
        example: 'Y'


      accident_id:
        type: string
        description: 事故人ID
        example: 'A123456789'
      accident_name:
        type: string
        description: 事故人姓名
        example: 'A123456789'
      accident_occupation:
        type: string
        description: 事故人職業
        example: 'A123456789'
      accident_mobile:
        type: string
        description: 事故人連絡電話
        example: 'A123456789'
      accident_tel:
        type: string
        description: 事故人住家電話
        example: 'A123456789'
      accident_county:
        type: string
        description: 事故人縣市
        example: 'A123456789'
      accident_district:
        type: string
        description: 事故人鄉鎮市區
        example: 'A123456789'
      accident_address:
        type: string
        description: 事故人地址
        example: 'A123456789'
      accident_birth:
        type: string
        description: 生日
        example: 'A123456789'
      accident_email:
        type: string
        description: 事故人Email
        example: 'A123456789'


    required:
      - type
      - dx_cert_path
      - acc_date
      - bank_code
      - bank_name
      - branch_code
      - branch_name
      - account_no
      - accident_id
      - accident_name
      - accident_occupation
      - accident_mobile
      - accident_tel
      - accident_county
      - accident_district
      - accident_address
      - accident_birth
      - accident_email

  ContactMeRequest:
    type: object
    properties:
      type:
        type: string
        description: 服務類別(T:團體保險、P:個人保險)
        example: 'T'
      name:
        type: string
        description: 姓名
        example: '姓名姓名姓名姓名'
      gender:
        type: string
        description: 性別(F:女性 M:男性 O:其它)
        example: 'F'
      mobile:
        type: string
        description: 行動電話
        example: '0987654321'
      email:
        type: string
        description: E-Mail
        example: 'xxxx@gmail.com'
      insurance_no:
        type: string
        description: 團保單號
        example: '12121222'
      tel_home:
        type: string
        description: 住家電話
        example: '02-1121212121'
      tel_office:
        type: string
        description: 公司電話
        example: '02-121212121'
      contact_week:
        type: array
        description: 聯絡時間(1/2/3/4/5/6/7)
        items:
          example: '1'
      conact_period:
        type: array
        description: 聯絡時段(m:早上/a：中午/e：晚上)
        items:
          example: '1'
      message:
        type: string
        description: 留言
        example: '留言留言留言留言留言'

    required:
      - type
      - name
      - gender
      - mobile
      - email
      - contact_week
      - conact_period
      - message

  BankAccountDeleteRequest:
    type: object
    properties:
      account_id:
        type: string
        description: 匯款帳號代碼
        example: 'xxxx'

    required:
      - account_id

  BankAccountPostRequest:
    type: object
    properties:
      account_id:
        type: string
        description: 匯款帳號代碼
        example: 'xxxx'
      bank_code:
        type: string
        example: '006'
        description: 銀行代碼
      bank_name:
        type: string
        example: '合作金庫商業銀行'
        description: 銀行名稱
      branch_code:
        type: string
        example: '1427'
        description: 分行代碼
      branch_name:
        type: string
        example: '石牌分行'
        description: 分行名稱
      account_no:
        type: string
        example: 'ＸＸＸＸＸ'
        description: 匯款帳號
      is_default:
        type: string
        example: 'Y'
        description: 是否為預設帳戶(Y/N)

    required:
      - bank_code
      - bank_name
      - branch_code
      - account_no
      - is_default

  PersonalPKPostRequest:
    type: object
    properties:
      invited_member_id:
        type: string
        description: PK對象會員代碼
        example: 'xxxx'
      steps:
        type: number
        description: 發起PK步數
        example: 'xxxx'
      period:
        type: number
        description: 挑戰週期
        example: '7'
      coins:
        type: number
        description: 挑戰龍珠數
        example: '100'

    required:
      - invited_member_id
      - steps
      - period

  TakeTaskBonusPostRequest:
    type: object
    properties:
      task_id:
        type: string
        description: 任務ID
        example: 'XXXXX'

    required:
      - task_id

  ProductExchangePostRequest:
    type: object
    properties:
      product_company_id:
        type: string
        description: 商品企業代碼
        example: 'XXXXX'
      amount:
        type: number
        description: 兌換數量
        example: '10'

    required:
      - amount

  InviteFriendPostRequest:
    type: object
    properties:
      friend_id:
        type: string
        description: 好友代碼
        example: 'XXXX'
      result:
        type: string
        description: 邀請結果(Y：接受、N：拒絕)
        example: 'Y'

    required:
      - friend_id
      - result

  SyncHealthInfoPostRequest:
    type: object
    properties:
      step:
        type: array
        items:
          $ref: '#/definitions/SyncHealthInfoInfo'
      sleep:
        type: array
        items:
          $ref: '#/definitions/SyncHealthInfoInfo'
    required:
      - step
      - sleep

  SyncHealthInfoInfo:
    type: object
    properties:
      date:
        type: string
        description: 日期
        example: '2025/01/01'
      data:
        type: number
        description: 資料
        example: '100'
    required:
      - date
      - data

  GamePostRequest:
    type: object
    properties:
      game_id:
        type: string
        description: 遊戲代碼
        example: '4c21e73a-f357-470a-81f6-4bb062bde358'
      success:
        type: string
        description: 是否成功(Y/N)
        example: 'Y'
    required:
      - game_id
      - success


  MyInfoPostRequest:
    type: object
    properties:

      mobile:
        type: string
        description: 行動電話
        example: '0987654321'
      email:
        type: string
        description: E-Mail
        example: 'titan7377@gmail.com'
      county:
        type: string
        description: 縣市
        example: '1'
      district:
        type: string
        description: 鄉鎮市區
        example: '2'
      nickname:
        type: string
        description: 暱稱
        example: '哈哈哈'
      custom_image:
        type: string
        description: 會員自行上傳頭像
        example: 'BASE64'
      buildin_image:
        type: string
        description: 會員內建頭像(改成代碼)
        example: '11'
      filter:
        type: string
        description: 會員內建濾鏡(0~5)
        example: '哈哈哈'
      mood:
        type: string
        description: 心情小語
        example: '心情小語心情小語心情小語'
      badge_role_id:
        type: string
        description: 使用阿龍角色
        example: '1'
      binding_type:
        type: boolean
        description: 綁定哪種裝置
        example: 'APPLE|GOOGLE|GARMIN|FITBIT'
      binding_token:
        type: string
        description: 綁定Fibit或Garmin 才有Token值
        example: 'XXXXXXX'
      binding_captcha:
        type: boolean
        example: 'true'
        description: 是否綁定圖形登入
      enable_notification:
        type: boolean
        example: false
        description: 是否開啟推播



  LandingPostRequest:
    type: object
    properties:
      referrer_code:
        type: string
        description: 他人的推薦碼
        example: 'XXXXX'
      nickname:
        type: string
        description: 暱稱
        example: '哈哈哈'
      binding_type:
        type: boolean
        description: 綁定哪種裝置
        example: 'APPLE|GOOGLE|GARMIN|FITBIT'
      binding_token:
        type: string
        description: 綁定Fibit或Garmin 才有Token值
        example: 'XXXXXXX'


  LoginPostResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/LoginInfo'
    required:
      - header

  LoginInfo:
    type: object
    properties:
      token:
        type: string
        example: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
        description: 登入者token

    required:
      - token

  GetSysParamResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/SysParamInfo'
    required:
      - header

  SysParamInfo:
    type: object
    properties:
      android_is_forced:
        type: string
        example: 'N'
        description: android強制更版(Y:是/N:否)
      force_update_ver_android:
        type: string
        example: '2.0.13'
        description: Android版本
      ios_is_forced:
        type: string
        example: 'N'
        description: ios強制更版(Y:是/N:否)
      force_update_ver_ios:
        type: string
        example: '2.0.13'
        description: IOS版本IOS
      force_update_ver_webview:
        type: string
        example: '2.0.26'
        description: Webview版本
      sync_health_days:
        type: string
        example: '30'
        description: 同步健康裝置資訊天數
      legal_terms:
        type: string
        example: '法律條款'
        description: 法律條款
      personal_info_term:
        type: string
        example: '個人資料運用告知聲明'
        description: 個人資料運用告知聲明
      privacy_policy:
        type: string
        example: '隱私權政策'
        description: 隱私權政策
      terms_of_use_title1:
        type: string
        example: '使用者活動辦法1標題'
        description: 使用者活動辦法1標題
      terms_of_use_title2:
        type: string
        example: '使用者活動辦法2標題'
        description: 使用者活動辦法2標題
      terms_of_use_title3:
        type: string
        example: '使用者活動辦法3標題'
        description: 使用者活動辦法3標題
      terms_of_use_title4:
        type: string
        example: '使用者活動辦法4標題'
        description: 使用者活動辦法4標題
      terms_of_use_title5:
        type: string
        example: '使用者活動辦法5標題'
        description: 使用者活動辦法5標題
      terms_of_use1:
        type: string
        example: '使用者活動辦法1'
        description: 使用者活動辦法1
      terms_of_use2:
        type: string
        example: '使用者活動辦法2'
        description: 使用者活動辦法2
      terms_of_use3:
        type: string
        example: '使用者活動辦法3'
        description: 使用者活動辦法3
      terms_of_use4:
        type: string
        example: '使用者活動辦法4'
        description: 使用者活動辦法4
      terms_of_use5:
        type: string
        example: '使用者活動辦法5'
        description: 使用者活動辦法5



  GetUserInfoResponse:
    type: object
    properties:
      header:
        $ref: '#/definitions/Header'
      data:
        $ref: '#/definitions/UserInfo'
    required:
      - header

  UserInfo:
    type: object
    properties:
      id:
        type: string
        example: 'U0001234'
        description: 使用者唯一ID
      username:
        type: string
        example: 'A182385074'
        description: 身份證字號
      company_id:
        type: string
        example: '17814a59-04fc-41fb-9b45-9bd609626a44'
        description: 所屬企業代碼
      level:
        type: integer
        example: 1
        description: 會員等級
      level_text:
        type: string
        example: '團險**保險'
        description: 會員等級顯示文字(團險**保險 / 一般)
      coins:
        type: integer
        example: 100
        description: 龍珠數
      coins_expired_date:
        type: string
        example: '2026/01/01'
        description: 龍珠到期日
      exp:
        type: integer
        example: 1500
        description: 經驗值
      badge_amt:
        type: integer
        example: 8
        description: 已獲得徽章數
      nickname:
        type: string
        example: '鄧x文'
        description: 暱稱
      gender:
        type: string
        example: 'F'
        description: 性別 (M/F/O)
      custom_image:
        type: string
        example: '/uploads/images/avatar/1618649493123018104.jpeg'
        description: 會員自行上傳頭像(路徑)
      buildin:
        type: string
        example: '1'
        description: 會員內建頭像
      filter:
        type: string
        example: '1'
        description: 會員內建濾鏡
      height:
        type: number
        format: float
        example: 170.0
        description: 身高 (公分)
      weight:
        type: number
        format: float
        example: 60.0
        description: 體重 (公斤)
      mobile:
        type: string
        example: '0912345678'
        description: 手機號碼
      email:
        type: string
        example: 'user@example.com'
        description: 電子郵件
      city:
        type: string
        example: '臺北市'
        description: 所在城市
      district:
        type: string
        example: '信義區'
        description: 區／鄉／鎮
      referrer_code:
        type: string
        example: 'ABC123'
        description: 推薦碼
      complete_onboarding:
        type: boolean
        example: false
        description: 是否已完成導覽流程
      device_OS:
        type: string
        example: 'iOS'
        description: 裝置系統 (iOS/Android)
      binding_apple:
        type: boolean
        example: 'true'
        description: 是否綁定Apple
      binding_android:
        type: boolean
        example: 'true'
        description: 是否綁定Android
      binding_fibit:
        type: boolean
        example: 'true'
        description: 是否綁定Fibit
      binding_garmin:
        type: boolean
        example: 'true'
        description: 是否綁定Garmin
      binding_captcha:
        type: boolean
        example: 'true'
        description: 是否綁定圖形登入
      enable_notification:
        type: boolean
        example: false
        description: 是否開啟推播
      lead_rate:
        type: number
        example: 43
        description: 超越其他用戶的比率(首頁使用)
      bmi:
        type: number
        example: 43
        description: BMI值，由後端直接計算(首頁使用)
      continue_sign_up_count:
        type: number
        example: 2
        description: 連續簽到天數(我的頁面使用)
      product_exchange_count:
        type: number
        example: 2
        description: 可兌換券(我的頁面使用)
      goal_steps:
        type: number
        example: 20000
        description: 每日目標步數
      goal_sleep_hours:
        type: number
        example: 8
        description: 每日目標睡眠小時
      occupation:
        type: string
        example: '金融業'
        description: 職業(從團險保單中取得)

    required:
      - id
      - username
      - pid
      - company_id
      - nickName
      - level
      - level_text
      - coins
      - exp
      - continue_sign_up_count

  PageInfo:
    type: object
    properties:
      total_rec:
        type: number
        example: 123
        description: 總筆數
      total_page:
        type: number
        example: 13
        description: 總頁數
      current_page:
        type: number
        example: 1
        description: 目前第幾頁
    required:
      - total_rec
      - total_page
      - current_page

  GeneralResponse:
    properties:
      header:
        $ref: '#/definitions/Header'
    required:
      - header

  Header:
    properties:
      code:
        type: string
        example: '0000'
        description: 回應代碼(0000代表成功，其餘失敗)
      message:
        type: string
        example: '系統錯誤訊息'
        description: 系統錯誤訊息

    required:
      - code
      - message



